/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Home page styles */
.home-container {
    position: relative;
    height: 100vh;
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 0;
}

#rain-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.home-button {
    position: relative;
    padding: 20px 40px;
    font-size: 24px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    text-decoration: none;
    z-index: 2;
    margin-top: 300px;
}

.home-button:hover {
    background-color: #606060;
}

/* Input page styles */

h1{
    text-align: center;
}
.input-form {
    max-width: 90%;
    width: 600px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group label, .form-group input {
    flex: 1 1 calc(50% - 10px);
    box-sizing: border-box;
}

.form-group label {
    margin-right: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
}

button:hover {
    background-color: #0056b3;
}

/* Make the form responsive */
@media (max-width: 600px) {
    .input-form {
        padding: 10px;
    }

    .form-group {
        flex-direction: column;
    }

    .form-group label, .form-group input {
        flex: 1 1 100%;
        margin-right: 0;
    }

    input, button {
        padding: 8px;
        font-size: 14px;
    }
}

/* Result page styles */
.result-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.result {
    font-size: 24px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.go-back-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.go-back-button:hover {
    background-color: #0056b3;
}
.prediction-box {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 5px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
